/* fira-sans */
.fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
}
/* shared style */
body{
    max-width: 1280px;
  margin: 0 auto;
}
.button-primary{
    background-color: #006A50;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 600px;
    border-radius: 8px;
    padding: 17px 34px;
}
.secondary-bg-colour{
background-color: #C6E4D6;
}
.section-title{
    font-size: 40px;
    font-weight: bold;
    color: #0E0E0E;
    margin-top: 80px;
}
.section-description{
    font-size: 16px;
    font-weight: 400;
    color: rgba(14, 14, 14, 0.8);
}
  
  /* banner styles */
 
  .banner{
    display: flex;
    align-items: center;
    border-radius: 24px;
    
  }
  .small-heading{
    font-size: 24px;
    font-weight: 500;
    color: #0E0E0E;
  }
.banner-heading{
    font-size: 56px;
    font-weight: bold;
    color: #0E0E0E;
}
.banner-description{
    margin: 117px 62px;
}
.flag{
    margin: 80px 60px;
}

/* vision section style */
.technology-subtitle{
    font-size: 20px;
    font-weight: bold;
    color: #0E0E0E;
    
}

.technology-container{
    display: flex;
    gap: 24px;
}
.technology{
    border-radius: 16px;
    padding: 24px 32px;
}
.digital-transformation{
    background-color: rgba(84, 144, 245, 0.2);
}
.digital-transformation-btn{
    color: rgba(255, 255, 255, 1);
    background-color: rgba(84, 144, 245, 1);
    font-size: 16px;
    font-weight: 600;
    padding: 11px 20px;
    border-radius: 8px; 
}
.green-energy{
    background-color: rgba(198, 228, 214, 1);
}
.green-energy-btn{
    color: rgba(255, 255, 255, 1);
    background-color: rgba(9, 161, 92, 1);
    font-size: 16px;
    font-weight: 600;
    padding: 11px 20px;
    border-radius: 8px;

}
.modern-infrastructure{
    background-color: rgba(247, 235, 207, 1);
}
.modern-infrastructure-btn{
    color: rgba(255, 255, 255, 1);
    background-color: rgba(255, 194, 57, 1);
    font-size: 16px;
    font-weight: 600;
    padding: 11px 20px;
    border-radius: 8px;
}
/* quote styles */
.quote{
    background-image: url("../B11A1--assignment-1-main/assets/quote-bg.png");
    background-repeat: no-repeat;
    background-position: top left;
    padding: 48px 24px;
    margin-top: 32px;
    border-radius: 16px;
    box-shadow: 5px 6px 40px 0px rgba(14, 14, 14, 0.15) ;
}
#younus{
    margin-top: 12px;
    margin-bottom: 4px;
    font-size: 20px;
    font-weight: 600;
}
/* News section style */
.news-container{
    display: flex;
    gap: 32px;
    border-radius: 25px;
    padding: 48px;
    box-shadow: 5px 6px 40px 0px rgba(14, 14, 14, 0.15) ;
    margin-top: 32px;
}
.news-title{
    font-size: 32px;
    font-weight: bold;
    color: rgba(14, 14, 14, 0.8);
    margin-bottom: 12px;
}
.news-time{
    margin-top: 12px;
    margin-bottom: 12px;
}
.image{
    border-radius: 24px;
}
.news-btn{
    padding: 13px 26px;
    background-color: #006A50;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 600px;
    border-radius: 8px;
}
/* style for donate section */
.donate-top{
    justify-items: center;
}
.taka{
    font-size: 40px;
    font-weight: bold;
    color: rgba(14, 14, 14, 0.8);
    border-radius: 16px;
    padding: 40px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
    
}
.taka-btn{
    display: flex;
    gap: 24px;
    justify-content: space-around;
   

}
.two-hundread{
    background-color: rgba(198, 228, 214, 1);
}
.donate-description{
    padding: 0px 90px;
    margin-bottom: 32px;
    margin-top: 0px;
    
}
#with{
    display: inline-block;
    text-align: center;
    width: 98%;
    
}
.text{

    text-align: center;
    width: 25%;
    font-size: 20px;
    font-weight: 400;
    color: rgba(14, 14, 14, 0.3);
    padding: 20px 422px;
    justify-items: center;
    margin: 32px 100px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.other-amount{
    display: flex;
   justify-items: center;
   justify-content: center;
}
/* newsletter styles */
.newsletter{
    background-color: rgba(198, 228, 214, 1);
    border-radius: 24px;
    padding: 25px 265px;
    margin-top: 80px;    
}
.newsletter-btn{
    padding: 13px 26px;
    background-color: #006A50;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 600px;
    border-radius: 0px 8px 8px 0px;

}
.newsletter-form{
    display: flex;
    gap: 0px;
}
.newsletter-text{
    text-align: center;
}
.newsletter-form-text{
    padding: 18px 403px 18px 40px;
}
.news-letter-footnote{
    padding: 24px 64px 0px 64px;
    text-align: center;
}
footer .section-title{
   margin-bottom: 10px;
}
footer .news-letter-footnote{
    margin-top: 10px;
    margin-bottom: 40px;
}

/* bottom note style */
#bottom-note{
    text-align: center;
}
/* hover effect */
.button-primary:hover, .taka:hover, .news-btn:hover, .green-energy-btn:hover, .modern-infrastructure-btn:hover,.newsletter-btn:hover, .digital-transformation-btn:hover{
   color: red;
   background-color: chartreuse;
    transform: 1.2;
}